img {
  width: 100%;
}

.container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.fadeAnimation {
  animation-name: fade;
  animation-duration: 1.2s;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 20px;
  color: white;
  font-size: 23px;
  transition: 0.6s ease;
}

.prev {
  border-radius: 0 10px 10px 0;
}

.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 1);
}

.numberText {
  color: #fff;
  font-size: 15px;
  right: 0;
  padding: 8px 12px;
  position: absolute;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots {
  text-align: center;
}

.active,
.dot:hover {
  background-color: #717171;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
